<app-sidebartrainer></app-sidebartrainer>
 

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
  <div class="body-wrapper">
    <div class="container-fluid">
      <h2>Pending Reservation</h2>
      <!-- <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Date</th>
            <th>Course Name</th>
            <th>Student Name</th>
            <th>Actions</th>
          </tr>
         
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations">
            <td>{{reservation.reservationstatus}}</td>
            <td>{{ reservation.reservationdate | date: 'shortDate' }}</td>
            <td>{{reservation.courses.name}}</td> 
            <td>{{reservation.gusers.fname}} {{reservation.gusers.lname}}</td> 
            <td>
              <button (click)="acceptReservation(reservation.id)" class="accept"
              [disabled]="reservation.reservationstatus === 'Accepted'">Accept</button>
              <button (click)="rejectReservation(reservation.id)" class="reject" >Reject</button>
            </td>
          </tr>
        </tbody>
      </table> -->
      <table class="table text-nowrap mb-0 align-middle" id="example">
        <thead class="text-dark fs-6">
            <tr>
                <th class="border-bottom-0" style="width: 10%;">
                    <h6 class="fw-semibold mb-0">Full Name</h6>
                </th>
                <th class="border-bottom-0" style="width: 30%;">
                    <h6 class="fw-semibold mb-0">Course Name</h6>
                </th>
                <th class="border-bottom-0" style="width: 30%;">
                  <h6 class="fw-semibold mb-0">session_Name</h6>
              </th>
                <th class="border-bottom-0" style="width: 20%;">
                    <h6 class="fw-semibold mb-0">reservation Status </h6>
                </th>
                <th class="border-bottom-0" style="width: 30%;">
                    <h6 class="fw-semibold mb-0">Reservation Date</h6>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of filteredReservations">
                <td class="border-bottom-0">
                    <h5 class="fw-semibold mb-0">{{ reservation.user_Full_Name }}</h5>
                </td>
                <td class="border-bottom-0">
                    <h5 class="fw-semibold mb-0">{{ reservation.course_Name }}</h5>
                </td>
                <td class="border-bottom-0">
                  <h5 class="fw-semibold mb-0">{{ reservation.session_Name }}</h5>
              </td>
                <td class="border-bottom-0">
                    <h5 class="fw-semibold mb-0">{{ reservation.reservation_Status }}</h5>
                </td>
                <td class="border-bottom-0">
                    <h5 class="fw-semibold mb-0">{{ reservation.reservation_Date | date:'short' }}</h5>
                </td>
                <td>
                  <button (click)="acceptReservation1(reservation.reservation_ID)" class="accept"
                  [disabled]="reservation.reservation_Status === 'Accepted'">Accept</button>
                </td>
            </tr>
        </tbody>
    </table>
 
 
</div>
</div>
</div>
 